.driver-delivery{
  text-align: center;

  .button{
    margin-top: 20px;
    margin-bottom: 20px;
  }
  h1{
    font-size: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .title-phone{
    font-size: 30px;
  }
  
  .details{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    p{
      margin: auto;
      border-bottom: 1px solid #d3d3d3;
      padding-bottom: 20px;
    }
  }  

 
}


h1:first-child{
  margin-top: 20px;
}

button.ui.button.start-button{
  background-color: rgb(111, 187, 111);
  color: white;
}

button.ui.button.end-button{
  background-color: rgb(221, 101, 101);
  color: white;
}
