.driver-delivery{
  text-align: center;

  .button{
    margin-top: 20px;
    margin-bottom: 20px;
  }
  h1{
    font-size: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .title-phone{
    font-size: 30px;
  }
  
  .details{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    p{
      margin: auto;
      border-bottom: 1px solid #d3d3d3;
      padding-bottom: 20px;
    }
  }
}
