@use 'reset';
@use 'vars';
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;600&display=swap');


html{ 
  background-color: #F2F5F9;
}

body {
  font-family: sans-serif;
  background-color: vars.$global-background;
  background-color: #F2F5F9;
}

#root {
  background-color: vars.$global-background;
  width: 100%;
  height: 100vh;
}

.ui.left.floated.header {
  // margin-top: 10px;
  font-family: 'Oswald', sans-serif;
  font-style: italic;
  font-size: xx-large;
  margin-bottom: -10px;
}

.ui.right.floated.header {
  border: 1px solid black;
  background-color: white;
  border-radius: 10px;
  padding: 10px;
}
.ui.image {
  display: flex;
  max-height: 50em;
}

.ui.clearing.segment {
  background-color: lightgray;
}

/* 
  // or you can import your own font
  @font-face {
    font-family: 'Roboto';
    src: url('../assets/fonts/Roboto-Regular.ttf');
  }

  body {
    font-family: 'Roboto', sans-serif;
  }
*/
