.createdeliveries{
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 1em;
  padding-top: 2em;
  padding-bottom: 2em;
  
  .form {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin: auto;
    width: 600px;
  }

  .ui.form .field>label {
    color: rgba(0,0,0,.87);
    display: block;
    font-size: 1.2em;
    font-weight: 700;
    margin: 0.5em;
  }
  
  h1{
    font-size: 50px;
  }
  .button{
    margin-top:25px;
    margin-bottom: 100px;
    width: 200px;
  }

  .ui.form .field {
    width:90%;
  }

  .delivery-create{
    background-color: #315BFC;
    color: white;

  }
}
