.global{
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 80%;
  margin: auto;
  margin-top: 1em;
  padding-top: 2em;

  .titre{
    font-size: 50px;
  }

}
.driver-phone{

.titre-phone{
  font-size: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
}

}

.driverList{
  border: 2px solid lightgrey;
  border-radius: 4px;
  width: 100%;
  height: 5em;
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;

  .global{
    width: 80%;
  }

  .infosClient{
    display: flex;
    flex-direction: column;
  }

  .utilitaire{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 400px;
  }
  
}

.driverList-phone{
  border: 2px solid lightgrey;
  border-radius: 4px;
  width: 90%;
  height: 5em;
  margin: auto;
  margin-bottom: 38px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content:space-around;

}

button.ui.button.detail{
  width: 100%;
  display:flex;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  border: 1px solid black;
  margin-bottom: 20px;
}


button.ui.button:hover{
  background-color: #85c2f7;
}

.title-phone{
  font-size: 30px;
}
