.driver{
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 80%;
  margin: auto;

  .titre{
    font-size: 50px;
  }

}
.driver-phone{

.titre-phone{
  font-size: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
}

}
