.drivers-management {
  // height: 100%;
  // border: 2px solid black;
  margin-top: 1em;
  padding-top: 2em;
  padding-bottom: 2em;
}
.titre-phone{
  font-size: 30px;
}

.grid-drivers {
  width:100%;
}

.driver-list {
  display:flex;
  justify-content:space-around;
  align-items:center;
  width:90%;
  margin-left:auto;
  margin-right:auto;
  padding-bottom:1.5em;
  padding-top:1.5em;
  border-bottom: 2px solid lightgray;
}

.ul-phone{
  margin-left: -50px;

}

.driver-utils {
  width:10%;
  display:flex;
  justify-content:space-between;
}

.avatar {
  block-size:50px;
}

.dot-green {
  height: 25px;
  width: 25px;
  background-color: green;
  border-radius: 50%;
  display: inline-block;
}

.dot-red {
  height: 25px;
  width: 25px;
  background-color: rgb(230, 68, 68);
  border-radius: 50%;
  display: inline-block;
}

.button {
  display:flex;
  justify-content:flex-end;
  padding-right:10em;
}

button.ui.button.add-driver{
  background-color: #315BFC;
  color:white;
}

.button-phone {
  display:flex;
  justify-content:center;
  align-items: center;
}

.buttons-utils {
  border:none;
  background-color:transparent;
}

.info {
  cursor:pointer;
  filter: invert(62%) sepia(97%) saturate(430%) hue-rotate(179deg) brightness(91%) contrast(93%);
}

.edit {
  cursor:pointer;
  filter: invert(70%) sepia(92%) saturate(3181%) hue-rotate(3deg) brightness(108%) contrast(103%);
}

.trash {
  cursor:pointer;
  filter: invert(24%) sepia(71%) saturate(6991%) hue-rotate(354deg) brightness(92%) contrast(122%);
}

.flash-message{
  color: green;
  font-size: 1.7em;
  padding-bottom: 100px;
}
