.delivery {
  background-color:white;
  border:1px solid lightgray;
  border-radius:50px;
  margin-bottom:10px;
  display:flex;
  justify-content:space-around;
  margin-left:auto;
  margin-right:auto;
  padding-bottom:1em;
  padding-top:1em;
  border-bottom: 1px solid lightgray;
}

.deliveries-management {
  // height: 100%;
  // border: 2px solid black;
  margin-top: 1em;
  padding-top: 2em;
  padding-bottom: 2em;
}

.detail-1 {
  width:50%;
  display: flex;
  justify-content: flex-start;
  flex-flow: column wrap;
  align-content:space-between;
  line-height:25px;
}

.detail-2 {
  width:30%;
  display: flex;
  justify-content: flex-start;
  flex-flow: column wrap;
  align-content:space-between;
  line-height:30px;

}

.plus {
  width:100%;
  display:flex;
  justify-content:flex-end;
  padding-right:50px;
  margin-bottom:10px;

    & .add {
   block-size:50px;
  }
}




